#************************************
# SITE & RELEASE DATA COLLECTION
# Save file as /srv/pillar/site.j2
# this is jinja not yaml!!
#************************************
{%- set sitedata = {} %}
{%- do sitedata.update( {
      'hotpot_release': 'v0.3.3',
      'hotpot_hashsum': 'md5=fa144886b3ac67af47790d018bbfb3d9',
      'hotpot_uri': 'https://github.com/opensds/opensds/releases/download',

      'sushi_release': 'v0.3.3',
      'sushi_hashsum': 'md5=91969a17ca772851ddb80feec2aa7a7c',
      'sushi_uri': 'https://github.com/opensds/nbp/releases/download',

      'cinder_hashsum': 'md5=1751f8e4f6b4cddd8c4843a0f4473274',
      'cinder_url': 'https://raw.githubusercontent.com/openstack/cinder/master/contrib/block-box/docker-compose.yml',

      'kubectl_hashsum': 'md5=9e948c85b25cc347cff3866785ed8d2a',
      'kubectl_url': 'https://github.com/kubernetes/kubernetes/releases/download/v1.12.3/kubernetes.tar.gz',

      'img_controller': 'opensdsio/opensds-controller:latest',
      'img_dock': 'opensdsio/opensds-dock:latest',
      'img_dashboard': 'opensdsio/dashboard:latest',
      'img_etcd': 'quay.io/coreos/etcd:latest',
      'host_ipv4': grains.ipv4[-1],
      'host_ipv6': grains.ipv6[-1],
      'devstack_enabled_services': 'mysql,key',
      'devstack_password': 'opensds@123',
      'devstack_dir': '/opt/opensds-linux-amd64-devstack',
      'port_controller': '50040',
      'port_dock': '50050',

      'dock_type': 'provisioner',
      'nbp_plugin_type': 'hotpot_only',
      'enabled_backend': 'lvm',
      'poolname': 'opensds-volumes',
}) %}
