#************************************
# SITE & RELEASE DATA COLLECTION
# Save file as /srv/pillar/site.j2
#************************************
{%- set sitedata = {} %}
{%- do sitedata.update( {
      'hotpot_release': 'v0.3.0',
      'hotpot_hashsum': 'md5=61dfd596a06869364917657e44901085',
      'sushi_release': 'v0.3.0',
      'sushi_hashsum': 'md5=6c82a9f139862799dcb9122142cd2533',
      'cinder_hashsum': 'md5=1751f8e4f6b4cddd8c4843a0f4473274',
      'hotpot_uri': 'https://github.com/opensds/opensds/releases/download',
      'sushi_uri': 'https://github.com/opensds/nbp/releases/download',
      'cinder_url': 'https://raw.githubusercontent.com/openstack/cinder/master/contrib/block-box/docker-compose.yml',
      'img_controller': 'opensdsio/opensds-controller:latest',
      'img_dock': 'opensdsio/opensds-dock:latest',
      'img_dashboard': 'opensdsio/dashboard:latest',
      'img_etcd': 'quay.io/coreos/etcd:latest',
      'host_ipv4': grains.ipv4[-1],
      'host_ipv6': grains.ipv6[-1],
      'devstack_enabled_services': 'mysql,key',
      'devstack_password': 'opensds@123',
      'devstack_port': '50040',

      'dock_type': 'provisioner',
      'nbp_plugin_type': 'hotpot_only',
      'enabled_backend': 'lvm',
      'poolname': 'opensds-volumes',
}) %}
