### opensds/stacks/map.jinja

{% import_yaml "opensds/stacks/salt/defaults.yaml" as salt %}
{% import_yaml "opensds/stacks/devstack/defaults.yaml" as devstack %}

##Merge into single dict exportable as the jinja2 variable 'stacks'.
{% set stacks = salt['grains.filter_by'](
    salt, merge=salt['grains.filter_by'](
      devstack, merge=salt['pillar.get']('opensds:stacks', {}), base='opensds',),
    base='opensds',),
) %}
{%- do stacks.solutions.update( opensds.stacks.formulas ) %}
