#########################################################
# File managed by Salt. Changes risk being overwritten.
#########################################################
{%- from 'opensds/files/macros.j2' import getlist with context %}
[Unit]
Description=OpenSDS {{ svc }} service
{%- if before is defined and before %}
Before={{ getlist(before, False, '.service ') }}
{%- endif %}
After=network.target docker.target
Documentation=https://opensds.io

[Service]
WorkingDirectory={{ workdir }}
{%- if environ is defined and environ %}
    {%- for k,v in environ.items() %}
Environment='{{ k|upper }}="{{ v }}"'
    {%- endfor %}
{%- endif %}
ExecStart={{ start }}
ExecStop={{ stop }}
PIDFile=/var/run/{{ svc }}.pid
PermissionsStartOnly=true
User=root
Group=root
###EnvironmentFile=-/etc/sysconfig/{{ svc }}

# file size
LimitFSIZE={{ systemd['conf']['LimitFSIZE'] }}
# cpu time
LimitCPU={{ systemd['conf']['LimitCPU'] }}
# virtual memory size
LimitAS={{ systemd['conf']['LimitAS'] }}
# open files
LimitNOFILE={{ systemd['conf']['LimitNOFILE'] }}
# processes/threads
LimitNPROC={{ systemd['conf']['LimitNPROC'] }}
# locked memory
LimitMEMLOCK={{ systemd['conf']['LimitMEMLOCK'] }}
# total threads (user+kernel)
TasksMax={{ systemd['conf']['TasksMax'] }}
TasksAccounting={{ systemd['conf']['TasksAccounting'] }}

[Install]
WantedBy=multi-user.target
