#!/usr/bin/env bash

# Copyright (c) 2018 Huawei Technologies Co., Ltd. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Global
HOST_IP={{ devstack.local.host_ip or devstack.local.host_ipv6 or '${HOST_IP:-}' }}
if [ "$HOST_IP" == "" ]; then
    die $LINENO "Could not determine host ip address. See local.conf for suggestions on setting HOST_IP."
fi

# OpenSDS configuration.
OPENSDS_VERSION={{ opensds_hotpot_release or '${OPENSDS_VERSION:-v1beta}' }}

# OpenSDS service name in keystone.
OPENSDS_SERVER_NAME=${OPENSDS_SERVER_NAME:-opensds}

# devstack keystone configuration
STACK_GIT_BASE=${STACK_GIT_BASE:-https://git.openstack.org}
STACK_USER_NAME={{ devstack.local.username or '${STACK_USER_NAME:-stack}' }}
STACK_PASSWORD={{ devstack.local.password or '${STACK_PASSWORD:-devstack}' }}
STACK_HOME=${STACK_HOME:-/opt/stack}
STACK_BRANCH=${STACK_BRANCH:-stable/rocky}
DEV_STACK_DIR=$STACK_HOME/devstack

GOPATH={{ go_path or '${GOPATH:-$HOME/gopath}' }}
OPENSDS_DIR=${GOPATH}/src/github.com/opensds/opensds

