### opensds/map.jinja

{% import_yaml "opensds/stacks/defaults.yaml" as stacks %}
{% import_yaml "opensds/auth/defaults.yaml" as auth %}
{% import_yaml "opensds/controller/defaults.yaml" as controller %}
{% import_yaml "opensds/dashboard/defaults.yaml" as dashboard %}
{% import_yaml "opensds/database/defaults.yaml" as database %}
{% import_yaml "opensds/devstack/defaults.yaml" as devstack %}
{% import_yaml "opensds/dock/defaults.yaml" as dock %}
{% import_yaml "opensds/let/defaults.yaml" as let %}
{% import_yaml "opensds/nbp/defaults.yaml" as nbp %}
{# import_yaml "opensds/osfamilymap.yaml" as osfamilymap #}

#Merge dicts
{% set opensds = salt['grains.filter_by'](
  stacks, merge=salt['grains.filter_by'](
    controller, merge=salt['grains.filter_by'](
      dashboard, merge=salt['grains.filter_by'](
        database, merge=salt['grains.filter_by'](
          auth, merge=salt['grains.filter_by'](
            nbp, merge=salt['grains.filter_by'](
              let, merge=salt['grains.filter_by'](
                dock, merge=salt['grains.filter_by'](
                  osfamilymap, grain='os_family', merge=salt['pillar.get']('opensds', {}),
                       base='opensds',),
                     base='opensds',),
                  base='opensds',),
               base='opensds',),
            base='opensds',),
         base='opensds',),
      base='opensds',),
   base='opensds',),
) %}
{%- do opensds.stacks.solutions.update( opensds.stacks.formulas ) %}

#Swordfish driver
{% import_yaml 'opensds/dock/block/driver/' ~ opensds.dock.block.provider ~ '.yaml' as driver %}
{% do driver.update(salt['pillar.get']('opensds:swordfish', {})) %}
{% do opensds.swordfish.update(driver) %}
